
.placeholder {
    font-size: var(--step-2);
    padding: 5vh 2vw 10vh;
    text-align: center;
    box-shadow: 4px 3px 5px 1px rgb(190, 190, 190);
    color: var(--clr-grey);
    animation: reveal 1s ease-in;
    border-top: 7px solid var(--clr-green);
    border-radius: 5px;
    background-color: white;
}
@keyframes reveal {
    from {opacity: 0;}
    to {opacity: 1;}
    
}

.metadata-container {
    box-shadow: 4px 3px 5px 1px rgb(190, 190, 190);
    border-radius: 5px;
    overflow: hidden;
}


.metadata-header {
    font-size: var(--step-1);
    text-align: start;
    padding: 1em 2vw;
    color: white;
    
}


.information-list {
    list-style: none;
    padding: 5vh 2vw 10vh;
}

.information-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: baseline;
}



.information-item .information-item-header {
    font-size: var(--step-0);
    text-align: center;
    /* margin-right: auto; */
    
}

.information-item:nth-of-type(1) {
    margin-bottom: 5vh;
}
.information-item:not(:nth-of-type(1)) {
    margin-bottom: 1vh;
}

.information-item span {
    display: inline-block;
    font-size: var(--step-1);
    margin: 0 0vw 0 .5vw;
    
}

.centered-text {
    display: block;
    text-align: center;
    margin-top: 1vh;
}

@media screen and (max-width: 700px) {
    
    .information-list {
        padding: 2vh 4vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
    .centered-text {
        display: inline-block;
        margin: 0 2vw;
    }

    .information-item span, .centered-text {
        font-size: var(--step-2);
        margin-left: 2vw;
    }
    .information-item .information-item-header, 
    .metadata-header {
        font-size: var(--step-1);
    }

    .information-item:nth-of-type(1) {
        margin-bottom: 2vh;
    }

    .information-item:nth-of-type(3),
    .information-item:nth-of-type(4) {
        flex-basis: 100%;
        justify-content: end;
        
    }
    
    

}    
    
 
