<!--displays metadata component only when its metadata property is defined-->


<div *ngIf="metadata" class="metadata-container">
    <h2 class="metadata-header" [style.backgroundColor]="'var(--clr-'+ metadata.color+')'">
        Information on topic: <span class="centered-text">{{metadata.label}}</span>
    </h2>
    
    <ul class="information-list">
        
        <li class="information-item">
            <h3 class="information-item-header">Total Mentions:</h3>
            <span [ngClass]="metadata.color">{{metadata.volume}}</span>
        </li>
        
        <li  class="information-item">
            <h3 class="information-item-header">Positive Mentions:</h3>
            <span class="green">{{metadata.sentiment.positive}}</span>
        </li>
        
        <li  class="information-item">
            <h3 class="information-item-header">Neutral Mentions:</h3>
            <span class="grey">{{metadata.sentiment.neutral}}</span>
        </li>
        
        <li  class="information-item">
            <h3 class="information-item-header">Negative Mentions:</h3> 
            <span class="red">{{metadata.sentiment.negative}}</span>
        </li>

    </ul>


</div>

<!-- had some doubts whether I should use this directives to omit list item which value is undefined
*ngIf="metadata.sentiment.positive"
*ngIf="metadata.sentiment.neutral"
*ngIf="metadata.sentiment.negative" -->
