

<header>
    <h1 class="primary-header">My Topics Challenge</h1>
</header>
    
<main class="main-content">
    <app-word-cloud></app-word-cloud>

    <app-topic-metadata></app-topic-metadata>

    <div class="errors-message" *ngIf="messageService.messages.length">
        <div class="error-text" *ngFor="let message of messageService.messages">{{message}}</div>
        <div (click)="messageService.emptyMessages()" class="exit-error-message">Close</div>
    </div>
</main>
    
<footer>Milanche_74. All rigths reserved</footer>
