.word-cloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw;
    transform: scale(1);
    animation: cloudAnimation 1s linear ;
    transition: all 0s;
   
}

/* */ 


@keyframes cloudAnimation {
    0% {transform: scale(0.2);
        opacity:0}
    40% {transform: scale(0.95)}

    60% {transform: scale(1.03)}

    70% {transform: scale(1.02)}
    
    100% {transform: scale(1); 
          opacity: 1;}    
}

.loading-indicator {
    width: min-content;
    font-size: var(--step-2);
    color: var(--clr-grey);
    border-left: 2px solid var(--clr-grey);
    padding-left: 5px;
    animation: loader 5s linear 0s 3;
}

/* 
 besides more attractive appereance, this animation will ensure that loader indicator doesn't 
appear on the screen for the first 500ms of the API call*/

@keyframes loader {
     0% {opacity: 0;}
    25% { opacity: 0;}
    40% {opacity: 1;}
    60% { opacity: .5;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}



@media screen and (max-width: 700px) {
    .word-cloud {
        width: 90vw;
    }
}


